#
#
*~
.*.sw?
.deps
.libs
.lock-wscript
.perf
.waf*
*.la
*.lo
*.orig
*.rej
*-uninstalled.pc
#
aclocal.m4
autom4te.cache
autoscan.log
build
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
py-compile
pycairo.pc
releases
stamp-h
stamp-h1
stamp-h.in
waf
