#
.deps
.libs
.perf
#
aclocal.m4
autom4te.cache
autoscan.log
config.cache
config.h
config.h.in
config.log
config.status
configure
configure.scan
doltcompile
doltlibtool
libtool
Makefile
Makefile.in
pycairo.pc
releases
stamp-h
stamp-h1
stamp-h.in
#
*~
.*.sw?
*.la
*.lo
*.orig
*.rej
*-uninstalled.pc
