# top-level .gitignore
*~

.*.sw?
.deps
.libs
.lock*
.perf
.waf*

*.la
*.lo
*.orig
*.rej
*.pyc
*.pyo
*.so
.cache
MANIFEST
dist
.hypothesis
*.pyd
*.dll
.mypy_cache
.pytest_cache
.idea
*.egg-info

# image files
*.pdf
*.png
*.ps
*.svg

*-uninstalled.pc

aclocal.m4
autom4te.cache
autoscan.log
build
build_directory
config.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
configure.scan
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
Makefile.in
missing
py-compile
pycairo.pc
releases
stamp-h
stamp-h1
stamp-h.in
