include COPYING*
include NEWS
include README.rst
include MANIFEST.in
include setup.cfg
recursive-include docs *.py Makefile *.rst *.css *.svg
prune docs/_build
recursive-include tests *.py README
recursive-include examples *.py README
include cairo/*.h
exclude cairo/config.h
