include COPYING*
include NEWS
include README.rst
include MANIFEST.in
include PKG-INFO.in
include setup.cfg
include meson_options.txt
recursive-include . meson.build
recursive-include docs *.py Makefile *.rst *.css *.svg
prune docs/_build
recursive-include tests *.py README *.c *.h
recursive-include examples *.py README
include cairo/*.h
